<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.archive.autodetection">none</property>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.connection.url">jdbc:mysql://safetydbinstance.csbroatg2fiw.us-east-2.rds.amazonaws.com:3306/SafetyDB</property>
        <property name="hibernate.connection.username"></property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">true</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping class="in.safety.domain.EduInstitute"/>
        <mapping class="in.safety.domain.InstituteCourses"/>
        <mapping class="in.safety.domain.JobPostingJseeker"/>
        <mapping class="in.safety.domain.JobPosting"/>
        <mapping class="in.safety.domain.EmployerMaster"/>
        <mapping class="in.safety.domain.AcademicCourses"/>
        <mapping class="in.safety.domain.Testimonials"/>
        <mapping class="in.safety.domain.JseekerMaster"/>
        <mapping class="in.safety.domain.JseekerEmploymentDetails"/>
        <mapping class="in.safety.domain.SkillExperience"/>
    </session-factory>
</hibernate-configuration>
